BODY A {
	FONT-SIZE: 11px; COLOR: #006699; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
BODY A:visited {
	COLOR: #006699
}
BODY {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; BACKGROUND-COLOR: #6e7985
}
UNKNOWN {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.subNavLinks {
	FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.subNavLinks:visited {
	FONT-SIZE: 10px; COLOR: #990000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.subNavLinks:hover {
	FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.topUnderlineLinks {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.topUnderlineLinks:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.topUnderlineLinks:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cfe2ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.topUnderlineLinks:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cfe2ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.toputility {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.toputility:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.toputility:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #cc6600; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.toputility:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.dropDownNav {
	FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.dropDownNav:link {
	FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.dropDownNav:visited {
	FONT-SIZE: 10px; COLOR: #990000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.headTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.headTitle:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.headTitle:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.headNav {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.footerGrey {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodyCopy {
	FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sectionHeaders {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc6600; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sectionHeaders_plain {
	FONT-SIZE: 11px; COLOR: #cc6600; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sectionHeadersRed {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #990000; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sectionHeadersMed {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc6600; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sectionHeadersLarge {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc6600; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodyCopySmall {
	FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodyCopyBlack {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: normal
}
.headTitle2 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.rghtspacing {
PADDING-RIGHT: 10px; PADDING-LEFT: 12px;
}

.rghtspacingsearch {
PADDING-RIGHT: 15px;
}
.lowerNavSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.subNavSecondColor {
	FONT-SIZE: 10px; COLOR: #cc6600; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.subNav {
	FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bodyCopyBlackLarge {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodyCopyBlackLargeSpaced {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.introtext {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.headNavBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.viewArticles {
	FONT-SIZE: 14px; WIDTH: 85px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cd6600
}
.headNavBlueXLarge {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #006699; LINE-HEIGHT: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.addToFileCabinet {
	FONT-SIZE: 11px; WIDTH: 130px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cd6600
}
.headNavBlueXLarge2 {
	FONT-WEIGHT: bolder; FONT-SIZE: 16px; COLOR: #006699; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bodyCopySpaced {
	FONT-SIZE: 11px; COLOR: #006699; LINE-HEIGHT: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodyCopyBlueSpaced {
	FONT-SIZE: 11px; COLOR: #006699; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodyCopyBluereg {
	FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.button {
	FONT-SIZE: 11px; WIDTH: auto; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cc6600
}
.sectionHeadersBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pullDownMenu {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodyCopyGrey {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodyCopyGreySpaced {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.snav {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.snav:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.snav:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.snav:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.snavHeader {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.snavHeader:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.snavHeader:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.snavHeader:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.snavHeader:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.snavhead {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.snav:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #cc6600; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TD.snav {
	BACKGROUND-COLOR: #cfe2ff
}
TD.snavSelect {
	BACKGROUND-COLOR: #006699
}

TD.bodySm {
	FONT-SIZE: 9px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica
}
.snborder {
	BACKGROUND-COLOR: #cfe2ff
}
.snbordertop {
	BACKGROUND-COLOR: #006699
}
.pubtd {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LEFT: 5px; COLOR: #ffffff; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #175693; TEXT-DECORATION: none
}
A.pubtd {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LEFT: 5px; COLOR: #ffffff; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #175693; TEXT-DECORATION: none
}
A.pubtd:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LEFT: 5px; COLOR: #ffffff; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #175693; TEXT-DECORATION: none
}
A.pubtd:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LEFT: 5px; COLOR: #ffffff; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #175693; TEXT-DECORATION: none
}
A.pubtd:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LEFT: 5px; COLOR: #ffffff; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #175693; TEXT-DECORATION: none
}
A.pubtd:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LEFT: 5px; COLOR: #cc6600; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #175693; TEXT-DECORATION: none
}
.bookstd {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LEFT: 5px; COLOR: #006699; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d8d8d8
}
.modulehedrtcol {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LEFT: 5px; COLOR: #006699; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d8d8d8
}
.modulehedleftcol {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LEFT: 5px; COLOR: #ffffff; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #006699
}
.pubtd_nb {
	FONT-SIZE: 11px; LEFT: 5px; COLOR: #ffffff; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #006699
}
.guidetable {
	BORDER-RIGHT: #cfe2ff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cfe2ff 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cfe2ff 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cfe2ff 1px solid
}
#accessTable {
	WIDTH: 564px
}
#accessTable TD {
	BORDER-RIGHT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
#accessTable TD.borderLeft {
	BORDER-LEFT: #000 1px solid
}
#accessTable TD.borderTop {
	BORDER-TOP: #000 1px solid
}
#accessTable .sectionTitle {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #efefe7
}
#accessTable .blueCell {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #0083b6; TEXT-ALIGN: center
}
#accessTable .greyCell {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #cfe2ff; TEXT-ALIGN: center
}
#accessTable .lblueCell {
	BACKGROUND-COLOR: #cfe2ff
}
#accessTable .orangeCell {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #cc6600; TEXT-ALIGN: center
}
#blueTable {
	WIDTH: 100%
}
#blueTable TD {
	BORDER-RIGHT: #cfe2ff 1px solid; BORDER-TOP: #cfe2ff 1px solid; BORDER-LEFT: #cfe2ff 1px solid; BORDER-BOTTOM: #cfe2ff 1px solid
}
#blueTable .blueCell {
	BACKGROUND-COLOR: #cfe2ff
}
#authorouter {
	BORDER-RIGHT: #cfe2ff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cfe2ff 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cfe2ff 1px solid; WIDTH: 400px; PADDING-TOP: 2px; BORDER-BOTTOM: #cfe2ff 1px solid
}
#authorscroll {
	OVERFLOW: hidden
}
#authorscroll .iecontainer {
	FLOAT: left; OVERFLOW: hidden; POSITION: absolute; HEIGHT: 150px
}
#iecontainer {
	FLOAT: left; OVERFLOW: hidden; POSITION: absolute; HEIGHT: 150px
}
.utilitylinks {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.blunav_links {
	COLOR: #ffffff
}
.style6 {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.style7 {
	FONT-SIZE: 9px
}
.style8 {
	FONT-SIZE: 14px
}
.style9 {
	FONT-SIZE: 12px
}
.style10 {
	FONT-SIZE: 13px
}
.style11 {
	FONT-SIZE: 11px
}
.topUnderlineLinksOn A.topUnderlineLinksOn:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cfe2ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.topUnderlineLinksOn:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cfe2ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.topUnderlineLinksOn:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cfe2ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.topUnderlineLinksOn:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cfe2ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.topUnderlineLinksOff A.topUnderlineLinksOff:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.topUnderlineLinksOff:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.topUnderlineLinksOff:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.topUnderlineLinksOff:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.fontsize1:visited {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.fontsize1:active {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.fontsize1:hover {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.fontsize1:link {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.fontsize2:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.fontsize2:active {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.fontsize2:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.fontsize2:link {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.fontsize3:visited {
	FONT-SIZE: 16px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.fontsize3:active {
	FONT-SIZE: 16px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.fontsize3:hover {
	FONT-SIZE: 16px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.fontsize3:link {
	FONT-SIZE: 16px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
#breadcrumbs {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#breadcrumbs A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
#breadcrumbs A.headNavBlue:active {
	FONT-WEIGHT: bold! important; COLOR: #006699; TEXT-DECORATION: underline! important
}
A.headNavBlue:hover {
	FONT-WEIGHT: bold! important; COLOR: #006699; TEXT-DECORATION: underline! important
}
A.headNavBlue:visited {
	FONT-WEIGHT: bold! important; COLOR: #006699; TEXT-DECORATION: underline! important
}
A.headNavBlue:link {
	FONT-WEIGHT: bold! important; COLOR: #006699; TEXT-DECORATION: underline! important
}
#moduleWrapper UL {
	LIST-STYLE-IMAGE: url(/portal/cms_docs_iportals/iportals/global/images/bullet1.gif)
}
#rightContent UL {
	LIST-STYLE-IMAGE: url(/portal/cms_docs_iportals/iportals/global/images/bullet1.gif)
}
.moduleWrapperScroll {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; MARGIN-TOP: 15px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 5px; OVERFLOW: auto; BORDER-LEFT: #000 1px solid; WIDTH: 100%; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 315px
}
.moduleWrapperNoScroll {
	WIDTH: 100%
}
#testimonial {
	PADDING-BOTTOM: 10px
}
.testimonial {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003399; FONT-STYLE: italic
}
.bodyCopyFontGrey {
	FONT-SIZE: 11px; TEXT-TRANSFORM: none; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodyCopyFontLightGrey {
	FONT-SIZE: 11px; TEXT-TRANSFORM: none; COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.clearing {
	CLEAR: both
}
.textsizeMed {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.textsizeMed:link {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.textsizeMed:active {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.textsizeMed:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.textsizeMed:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
.textsizeLrg {
	FONT-SIZE: 18px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.textsizeLrg:link {
	FONT-SIZE: 18px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.textsizeLrg:active {
	FONT-SIZE: 18px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.textsizeLrg:visited {
	FONT-SIZE: 18px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.textsizeLrg:hover {
	FONT-SIZE: 18px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
.bottomnav {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Trebuchet", Verdana, Arial
}
A.bottomnav:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Trebuchet", Verdana, Arial
}
A.bottomnav:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Trebuchet", Verdana, Arial
}
A.bottomnav:active {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Trebuchet", Verdana, Arial
}
.bulletlist {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 10px; LIST-STYLE-IMAGE: url(/portal/cms_docs_iportals/iportals/global/images/top-orange-button.gif); COLOR: #006699; LINE-HEIGHT: 200%; FONT-FAMILY: "Trebuchet", Verdana, Arial
}
.bulletlist A {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; LINE-HEIGHT: 200%; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
.bulletlist A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; LINE-HEIGHT: 200%; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: underline
}
.topnav {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.topnav:link {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.topnav:visited {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.topnav:active {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
.topnav A:hover {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: underline
}
.subnav {
	FONT-SIZE: 10px; COLOR: #ffffff; TEXT-INDENT: 20px; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
.headline {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 11px; LEFT: 0px; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "Trebuchet", Verdana, Arial; POSITION: relative; TOP: 10px
}
.eventdetails {
	FONT-WEIGHT: lighter; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Trebuchet", Verdana, Arial
}
.morelink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.morelink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.morelink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.more:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
.morelink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: underline
}
.morelink A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: underline
}
.morearrow {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff8329; FONT-FAMILY: "Trebuchet", Verdana, Arial
}
.textarrow {
	PADDING-RIGHT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff8329; FONT-FAMILY: "Trebuchet", Verdana, Arial
}
.tagheader {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #006699; FONT-FAMILY: "Arial"
}
.whitetext {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Arial"; TEXT-DECORATION: bold
}
A.whitetext:link {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.whitetext:active {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
A.whitetext:visited {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: none
}
.whitetext A:hover {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: "Trebuchet", Verdana, Arial; TEXT-DECORATION: underline
}
.footer {
	FONT-SIZE: 9px; COLOR: #bbbdbf; FONT-FAMILY: "Trebuchet", Verdana, Arial
}
.leftnav {
	BORDER-RIGHT: #006699 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #006699 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #006699 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #006699 0px solid; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #006699
}
.leftnav_title {
	FONT-WEIGHT: bold; MARGIN-LEFT: 10px; COLOR: #ffffff
}
.leftnav_row {
	BORDER-RIGHT: #cc6600 1px solid; BORDER-TOP: #ffffff 0px solid; BORDER-LEFT: #cc6600 0px solid; BORDER-BOTTOM: #336699 1px solid
}
.leftnav_bullet {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; BORDER-LEFT: #cc6600 1px solid; BORDER-BOTTOM: #336699 1px solid
}
.leftnav_primary_bullet {
	MARGIN-LEFT: 4px
}
.leftnav_secondary_bullet {
	MARGIN-LEFT: 14px
}
.leftnav_row_primary {
	BORDER-RIGHT: #cc6600 0px solid; BORDER-TOP: #ffffff 0px solid; BORDER-LEFT: #cc6600 0px solid; BORDER-BOTTOM: #336699 1px solid
}
.leftnav_row_arrow {
	BORDER-RIGHT: #cc6600 1px solid; BORDER-TOP: #ffffff 0px solid; BORDER-LEFT: #cc6600 0px solid; BORDER-BOTTOM: #336699 1px solid
}
.leftnav_primary {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #006699; PADDING-TOP: 0px; BACKGROUND-COLOR: #cfe2ff
}
.leftnav_primary_item {
	FONT-SIZE: 11px; MARGIN-LEFT: 4px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.leftnav_secondary {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fefefe
}
.leftnav_secondary_item {
	MARGIN-TOP: 2px; FONT-SIZE: 11px; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.expandcollapse {
	CURSOR: pointer
}
